<!--Login/SignIn-->
<div class="form_container">
    <div class="form">
        <div class="btn formGroup">
            <button class="signUpBtn"">SIGN UP</button>
            <button class="loginBtn">LOG IN</button>
        </div>

        <!-- Sign up form -->
        <form method="POST" class="signUpForm">
            <div class="formGroup">
                <input type="text" name="register_name" id="user name" placeholder="User Name" autocomplete="off"> 
            </div>
            <div class="formGroup">
                <input type="email" name="register_email" id="Email" placeholder="Email" autocomplete="off"> 
            </div>
            <div class="formGroup">
                <input type="password" name="register_password" id="password" placeholder="Password" autocomplete="off">  
            </div>
            <div class="formGroup">
                <input type="password" name="register_confirmPassword" id="confirmPassword" placeholder="Confirm Password" autocomplete="off"> 
            </div>
            <div class="formGroup">
                <button class="btn2" type="submit" >REGISTER</button>
            </div>
        </form>
         <!-- Log in form -->
        <form method="POST" class="loginForm">
            <div class="formGroup">
                <input type="email" name="login_email" id="Email" placeholder="Email" autocomplete="off"> 
            </div>
            <div class="formGroup">
                <input type="password" name="login_password" id="password" placeholder="Password" autocomplete="off">  
            </div>
            <div class="formGroup">
                <button class="btn2" type="submit" >LOG IN</button>
            </div>
        </form>
    </div>
</div>
<div class="overlay"></div>