{% extends "base.html" %} 
{% block title %}Hummingbird | Article{% endblock %}

{% block content %} 
  {% include "header/header.html" %}
  {% if current_user.is_authenticated == false %}
    {% include "users/login.html" %}
  {% endif %}

  <!--Post Content-->
  <section class="post-header">
    <div class="header-content post-container">
      {% if error and current_user.is_authenticated == false %}
        <p style="color: tomato">{{ error }}</p>
      {% endif %}
      <!--Title-->
      <h2 class="header-title">{{ blog_post.title }}</h2>
      <img src="../../new_posts/services/uploads/{{ blog_post.img_url }}" alt="" class="header-img" />
    </div>
  </section>

  <!--Posts-->
  <section class="post-content post-container">
    <p class="post-text">{{ blog_post.text }}</p>
  </section>
  <!--Share-->
  <div class="share post-container">
    <span class="share-title">Share this article</span>
    <div class="social">
      <a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a>
      <a href="https://twitter.com"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
      <a href="https://linkedin.com"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>

{% endblock %}
