{% extends "base.html" %} 
{% block title %}Hummingbird | New Article{% endblock %}

{% block content %}
  {% include "header/header.html" %} 
  
  <section class="home">
    <div class="home-text ">
      {% if error %}
        <p style="color: tomato;">{{ error }}</p>
      {% endif %}
      <h2 class="home-title">New Article</h2>
      <span class="home-subtitle">Tell your story</span>
    </div>
  </section>

  <div class="wrapper">
    <form method="POST" class="form_article" enctype = "multipart/form-data">
      <div class="input_field">
        <input type="text" name="title" id="title" placeholder="Title" maxlength="55"/>
      </div>

      <div class="input_field">
        <textarea
          type="text"
          name="description"
          id="description"
          placeholder="Description"
          class="textarea_description"
          maxlength="350"
        ></textarea>
      </div>

      <div class="input_field">
        <input
          type="file"
          name="file"
          accept="image/*"
          id="file"
        />
        <label for="file" class="file">
          <div class="label_text">Choose an Image</div>
          <i class="material-icons">add_photo_alternate</i>
        </label>
      </div>

      <div class="input_field">
        <div class="custom_select">
          <select type="text" name="category" id="category">
            <option value="">Select a Category</option>
            <option value="design">Design</option>
            <option value="tech">Tech</option>
            <option value="mobile">Mobile</option>
          </select>
        </div>
      </div>

      <div class="input_field">
        <textarea type="text" name="text" id="text" placeholder="Text" class="textarea_text"></textarea>
      </div>

      <div class="submit_button">
          <button type="submit" class="button">Post Article</button>
      </div>
    </form>
  </div>

{% endblock %}
