<footer class="footer container">
  <p>&copy; Hummingbird All Rights Reserved</p>
  <div class="social-links" aria-label="Social platforms">
    <a href="https://www.facebook.com/" aria-label="Facebook"><i class="bx bxl-facebook" aria-hidden="true"></i></a>
    <a href="https://twitter.com/" aria-label="Twitter"><i class="bx bxl-twitter" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/" aria-label="Instagram"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
    <a href="https://linkedin.com/" aria-label="LinkedIn"><i class="bx bxl-linkedin" aria-hidden="true"></i></a>
  </div>
</footer>
