{% extends "base.html" %}
{% block title %}Hummingbird | Homepage{% endblock %}

{% block content %}
  {% include "header/header.html" %}
  {% if current_user.is_authenticated == false %}
    {% include "users/login.html" %}
  {% endif %}

  <!--Home-->
  <section class="home">
    <div class="home-text ">
      {% include "partials/messages.html" %}
      {% if error and current_user.is_authenticated == false %}
        <p style="color: tomato;">{{ error }}</p>
      {% endif %}
      <h2 class="home-title">The Hummingbird Blog</h2>
      <span class="home-subtitle">Your source for great content</span>
    </div>
  </section>
  <!--Post Filter-->
  <div class="post-filter container">
    <span class="filter-item active-filter" data-filter="all">All</span>
    <span class="filter-item" data-filter="design">Design</span>
    <span class="filter-item" data-filter="tech">Tech</span>
    <span class="filter-item" data-filter="mobile">Mobile</span>
  </div>
  <!--Posts-->

  <ul class="post container">

    {% for article in pagination.items %}
      <li class="post-box {{ article.category }}">
        <img src="../../static/images/uploads/{{ article.image_filename }}" alt="" class="post-img" />
        <h2 class="category">{{ article.category }}</h2>
        <a href="/{{ article.slug }}" class="post-title">
          {{ article.title }}
        </a>
        <span class="post-date" type="date">{{ article.created_at }}</span>
        <p class="post-description">{{ article.description }}</p>
        <!--Profile-->
        <div class="profile">
        {% if article.author %}
          <span class="profile-name">{{ article.author.username }}</span>
        {% endif %}
        </div>
      </li>
    {% endfor %}

  </ul>

  <nav class="move_page next_post container">
    {% if pagination.prev_num %}
      <a href="{{ url_for('articles.index', page=pagination.prev_num) }}">Previous Page</a>
    {% else %}
      <span>Previous Page</span>
    {% endif %}

    <span> - </span>

    {% if pagination.next_num %}
      <a href="{{ url_for('articles.index', page=pagination.next_num) }}">Next Page</a>
    {% else %}
      <span>Next Page</span>
    {% endif %}
  </nav>

{% endblock %}
