<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Tobias Aschenbrenner">
    <meta name="description" content="Read and publish articles on Hummingbird.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/articles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/icons/hum_ico.ico') }}">
    <title>{% block title %}Hummingbird{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/auth.js') }}" defer></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% include "partials/header.html" %}
    {% if not current_user.is_authenticated %}
      {% include "users/auth_modal.html" %}
    {% endif %}
    <main>{% block content %}{% endblock %}</main>
    {% include "partials/footer.html" %}
  </body>
</html>
